* {
    border-radius: 5px;
    box-sizing: border-box;
}

html {
    font-family: "Gill Sans", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li{
    list-style: none;
}

select, input {
    height: 2em;
}

.right {
    text-align: right;
}
.clear {
    clear:both;
}

@media screen and (max-width: 800px) {
    .hide-md {
        display: none;
    }
}